.containerSetting {
  background-color: #fff;
  /* width: 50%; */
}

@media (min-width: 768px) {
  .containerSetting {
    width: 50%;
  }
}

@media (min-width: 576px) {
  .containerSetting {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .containerSetting {
    width: 100%;
  }
}
