@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --accent-color: #00A3FF;
  --bg-dark-blue: #000517;
  --blue-faded: #00a2ff28;
  --bg-gradient-blue: linear-gradient(0deg, rgba(2, 0, 36, 1) 35%, rgba(20, 31, 69, 1) 100%);
  --white: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}

.btn-custom {
  color: var(--white);
  background: var(--accent-color);
  border-color: var(--white);
}

.btn-custom:hover {
  color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
  background: none !important;
}

.btn-dropdown {
  color: var(--white);
  background: var(--bg-dark-blue);
  cursor: pointer;
}

.bg-info-cstm {
  background: var(--blue-faded);
  
  border-color: var(--accent-color);
}
.bg-info-cstm i{
  color: var(--accent-color);
}


a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Layout for admin dashboard skeleton */

.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar {
  max-width: 264px;
  min-width: 264px;
  background: var(--bg-dark-blue);
  transition: all 0.35s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

.card {
  box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
  margin-bottom: 24px;
}

.navbar-expand .navbar-nav {
  margin-left: auto;
}


/* Sidebar Toggle */

#sidebar.collapsed {
  margin-left: -264px;
}

/* Footer and Nav */

@media (max-width:767.98px) {

  .js-sidebar {
    margin-left: -264px;
  }

  #sidebar.collapsed {
    margin-left: 0;
  }

  .navbar,
  footer {
    width: 100vw;
  }
}